root = true

[*]
end_of_line = lf
max_line_length = 79
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8
indent_style = space

[*.py]
indent_size = 4

[*.{js,json,y{a,}ml},toml]
indent_size = 2

[*.md]
indent_size = 2

[COMMIT_EDITMSG]
max_line_length = 72
indent_size = 2

[Makefile]
indent_style = tab

